<footer class="footer">
   
    <span class="footer__copyright">Made with &#9829; in the City of Champions | <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></span>
    
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2901177-7']);
  _gaq.push(['_setDomainName', 'staticmade.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    
</footer>